.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.login-form {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-direction: column;
  background: white;
  padding: 3em 5em;
  border-radius: 0.7em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.settings-button {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(56, 56, 56);
  right: 1em;
  top: 1em;
}
