* {
  border: 0;
  margin: 0;
  padding: 0;
}

.main-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.question-box {
  background-color: #969696;
  border: 1px solid black;
  display: flex;
  height: 80%;
  width: 100%;
}

.container-question {
  background-color: #e6e6e6;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.question-answers {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 2em;
  width: 100%;
}

.question-answers button {
  display: flex;
  flex-direction: column;
  height: 20px;
  margin-top: 1em;
  width: 100%;
}

.question-answers button:hover {
  filter: brightness(120%);
}

.correct-answer-css {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer-css {
  border: 3px solid red;
}

.pattern {
  background-color: yellow;
}
