@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Poppins , sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.correct-answer:disabled {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer:disabled {
  border: 3px solid red;
}

.App-body {
  align-items: center;
  background-color: rgb(40, 44, 52);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
}

.login-form-container {
  display: flex;
  height: 50vh;
  justify-content: center;
}

.login-form {
  align-items: center;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2em;
  width: 20em;
}

.login-form input {
  border: 0.5px solid rgb(40, 44, 52);
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.5em;
}

.login-form button {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 1em;
  padding: 0.5em;
  transition: 300ms ease;
  width: 10em;
}

.btn-play:enabled {
  background-color: rgb(0, 204, 153);
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.btn-play:enabled:hover {
  background-color: rgb(0, 235, 176);
}

.btn-settings {
  background-color: rgb(144, 46, 255);
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.btn-settings:enabled:hover {
  background-color: rgb(160, 77, 255);
}
