:root {

  --rgb1: rgba(2, 0, 36, 1) 0%;

  --rgb2: rgba(9, 9, 121, 1) 35%;

  --rgb3: rgba(0, 212, 255, 1) 100%;
}

.ranking-wrapper {
  align-items: center;
  background: linear-gradient(90deg, var(--rgb1), var(--rgb2), var(--rgb3));
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  overflow: hidden;
}

.rank-container {
  align-items: center;
  background: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 80%;
  opacity: 0.9;
  width: 500px;
}

.rank-container span {
  background: white;
  height: 1px;
  margin-bottom: 20px;
  width: 90%;
}

.rank-item {
  align-items: center;
  background: linear-gradient(90deg, var(--rgb1), var(--rgb2), var(--rgb3));
  border: 1px white solid;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  left: 500px;
  margin-bottom: 20px;
  width: 450px;
}

.rank-title {
  color: white;
  font-size: 30px;
}

.rank-box-index {
  align-items: center;
  background: white;
  border-radius: 100%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.rank-index {
  color: black;
  font-weight: 800;
}

.rank-image {
  height: 50px;
  width: 50px;
}

.rank-player-name {
  color: white;
  font-weight: 800;
}

.trophy {
  height: 20px;
  width: 20px;
}

.rank-player-score {
  color: white;
}


.ranking-home-button {
  background: rgb(18, 64, 214);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 120px;
}

.ranking-home-button:hover {
  background: rgb(2, 17, 70);
  border: 1px white solid;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  height: 50px;
  width: 120px;
}