header {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  gap: 1em;
  align-items: center;
}

.left-section img {
  width: 2em;
  border-radius: 5px;
}

/* background: rgb(215, 228, 255); */