.game-page {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.main-game {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 4fr 3fr;
  height: 80vh;
}

.question {
  align-items: center;
  background-color: white;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
}

/* --------------------------------------/
/-----------------CENTRO-----------------/
/-------------------------------------- */

.center-div {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  height: 50%;
  margin: 0 1.5rem;
}

.seconds {
  align-items: center;
  background-color: #874dbf;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  height: 4.5rem;
  justify-content: center;
  width: 4.5rem;
}

.category {
  align-items: center;
  background-color: #451a8f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='822' height='685' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.25'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  color: rgba(255, 255, 255, 0.652);
  display: flex;
  font-size: 3.5vw;
  font-weight: 900;
  justify-content: center;
  justify-self: center;
  padding: 1rem;
  text-align: center;
  width: fit-content;
}

.next {
  align-items: flex-end;
  display: flex;
  height: 42px;
  justify-self: end;
  width: 100px;
}

.next button {
  background-color: #1368ce;
  color: white;
  height: 42px;
  text-transform: uppercase;
}

/* next:hover está na sessão abaixo por causa do lint */

/* --------------------------------------/
/--------------ALTERNATIVAS--------------/
/-------------------------------------- */

.notDisplay {
  display: none;
}

.alternatives {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  margin: 1.5rem;
}

.alternatives button {
  align-items: center;
  align-self: end;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 100%;
  padding: 0 0.8rem;
  text-align: left;
}

.next button:hover {
  border-bottom: 1px solid rgb(0 0 0 / 0.25);
}

.alternatives button:nth-of-type( 1 ) {
  background-color: #e21c3d;
}

.alternatives button:nth-of-type( 2 ) {
  background-color: #1368ce;
}

.alternatives button:nth-of-type( 3 ) {
  background-color: #d89e01;
}

.alternatives button:nth-of-type( 4 ) {
  background-color: #27890d;
}

.alternatives button:nth-of-type( 1 ):before {
  content: url(../images/icons/triangle.png);
  line-height: 1rem;
  padding-right: 0.6rem;
}

.alternatives button:nth-of-type( 2 ):before {
  content: url(../images/icons/diamond.png);
  line-height: 1rem;
  padding-right: 0.6rem;
}

.alternatives button:nth-of-type( 3 ):before {
  content: url(../images/icons/circle.png);
  line-height: 1rem;
  padding-right: 0.6rem;
}

.alternatives button:nth-of-type( 4 ):before {
  content: url(../images/icons/square.png);
  line-height: 1rem;
  padding-right: 0.6rem;
}

.correct:hover, .incorrect:hover {
  border-bottom: 1px solid rgb(0 0 0 / 0.25);
}

.correct-answer, .correct-answer:hover {
  border-bottom: 4px solid rgb(0 0 0 / 0.25);
}

.incorrect-answer, .incorrect-answer:hover {
  border-bottom: 4px solid rgb(0 0 0 / 0.25);
  opacity: 0.5;
}


/* --------------------------------------/
/-----------------HEADER-----------------/
/-------------------------------------- */

.header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 2rem;
}

.name-header img {
  border-radius: 100%;
  height: 2.5rem;
}

.name-header {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
}

.name-header strong {
  margin: 0 2rem;
}

.score-header span {
  font-size: 1.3rem;
}

.score-header strong {
  font-size: 1.3rem;
  font-weight: 600;
}
