.body-login {
  background-image: url("homerlogin.jpg");
  background-size: cover;
  height: 100vh;
}

.body-game {
  text-align:center;
  background-color:#ffffff;
  background-size: cover;
  height: 100vh;
}

.header {
  align-items: center;
  background-color: rgb(243, 227, 8);
  display: flex;
  justify-content: space-around;
  margin: 100px;
}

.img-game {
  height: 400px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.login-form {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  left: 27%;
  position: absolute;
  text-align: center;
  top: 75%;
  transform: translate(-50%, -50%);
}

input {
  border: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  background: transparent;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0 5px 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.959);
}

.input-container input:focus {
  border: none;
  border-bottom: 1px solid #9f31e7;
  outline: none;
}

.one {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 6px 30px 6px 30px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: rgb(121, 18, 168);
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.one:hover {
  background-position: 0% 40%;
}
.one:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.one:before, .two:before, .one:after, .two:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.one:before, .two:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.one:after, .two:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}
.one {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #782CDA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#782CDA), to(rgba(126, 94, 162, 0.51))), url("https://cdn.vox-cdn.com/thumbor/FbNEU3NsboVkmUTZfSdVeWYWgt4=/0x0:939x704/1400x1050/filters:focal(0x0:939x704):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/49610677/homersimpson.0.0.jpg");
  background-image: linear-gradient(to bottom, #c9da2c, rgba(162, 157, 94, 0.51)), url("https://cdn.vox-cdn.com/thumbor/FbNEU3NsboVkmUTZfSdVeWYWgt4=/0x0:939x704/1400x1050/filters:focal(0x0:939x704):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/49610677/homersimpson.0.0.jpg");
}
.one:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #782CDA;
}
.one:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.one:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.one:after, .one:before {
  content: "";
}
.one b {
  color: #DDA6FF;
  font-weight: 700;
}

.two {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 6px 40px 6px 40px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: rgb(121, 18, 168);
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.two:hover, .two:hover {
  background-position: 0% 60%;
}
.two:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}

.two:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.two:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.two {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #782CDA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#782CDA), to(rgba(126, 94, 162, 0.51))), url("https://www.culturamix.com/wp-content/gallery/homer-3/homer_at_work_by_fullmetal870-d8041vg.png");
  background-image: linear-gradient(to bottom, #c9da2c, rgba(162, 157, 94, 0.51)), url("https://www.culturamix.com/wp-content/gallery/homer-3/homer_at_work_by_fullmetal870-d8041vg.png");
}
.two:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #782CDA;
}
.two:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.two:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.two:after, .two:before {
  content: "";
}
.two b {
  color: #DDA6FF;
  font-weight: 700;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.App-link {
  color: #61dafb;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

[class|="wrong"] {
  border: 3px solid red;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
