@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  --primary_color: rgb(29, 187, 164);

  --hover_primary_color: rgb(25, 152, 134);

  --secondary_color: rgb(50, 55, 62);

  --alt_secondary_color: rgb(96, 105, 117);
}

* {
  font-family: 'Raleway' , sans-serif;
  margin: 0;
  padding: 0;
}

.game-header-off {
  display: none;
}

.game-header-on {
  background-color: var(--primary_color);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 30px;
}

.game-header-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.game-header-content span {
  color: white;
  font-size: 35px;
  font-weight: 800;
  margin-right: 50px;
}

.game-header-icon {
  height: 40px;
}

.App {
  text-align: center;
}

.logo {
  position: relative;
  top: -50px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.main-container {
  align-items: center;
  background-color: var(--secondary_color);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.system-btn {
  background-color: var(--primary_color);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
  height: 60px;
  padding: 0 20px;
  border-style: none;
}

.system-btn:hover {
  font-size: 45px;
  transition: all 0.3s;
  transform-origin: center center;
}

.system-btn:active {
  background-color: var(--hover_primary_color);
  transition: all 0.3s;
}

.input-div {
  display: flex;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
}

.input, .select  {
  height: 30px;
  width: 350px;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}

.config-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  transform-origin: center center;
}

@media ( prefers-reduced-motion : no-preference ) {

  .config-icon:hover {
    animation: rotate infinite 5s linear;
  }
  
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

.play-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.ranking-btn {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.config-title {
  display: flex;
  color: var(--primary_color);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 100px;
}

.config-title h1 {
  margin-left: 20px;
}

.select {
  height: 40px;
  justify-content: space-between;
}

.select-container {
  display: flex;
}

.config-subtitles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.config-subtitles p {
  margin-bottom: 55px;
}

.config-selects {
  display: flex;
  flex-direction: column;
}

.config-selects select {
  margin-bottom: 50px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--alt_secondary_color);
  padding: 80px;
  border-radius: 10px;
  text-align: center;
}

.feedback-msg {
  font-size: 70px;
  font-weight: bold;
  color: var(--primary_color);
}

.play-again-btn {
  margin-top: 30px;
}

.question-container {
  display: flex;
  justify-content: center;
  background-color: var(--secondary_color);
}

.question {
  align-items: center;
  justify-content: center;
  background-color: var(--secondary_color);
  background-image: url('question-shape.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  min-width: 650px;

}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary_color);
  min-height: 100vh;
}

.category {
  color: var(--primary_color);
  font-size: 30px;
  margin-bottom: 25px;
}

.question-text {
  font-size: 30px;
  font-weight: 500;
  max-width: 35rem;
  text-align: center;
}

.timer {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.score {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_color);
  color: white;
  min-width: 200px;
  height: 55px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}


.timer-container {
  display: flex;
  margin-bottom: 15px;
}


.answers-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  align-items: center;
  justify-content: center;
}

.answers-container button {
  height: 65px;
  min-width: 450px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 26px;
}

.next-btn {
  margin-top: 15px;
  font-size: 30px;
}

.ranking-header {
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100vw;
  position: absolute;
  top: 0;
  align-items: center;
  font-size: 35px;
  padding: 10px;
  font-weight: bold;
}

.ranking-list {
  border-radius: 10px;
  list-style: none;
  width: 85vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 70vh;
}

.ranking-list li {
  background-color: white;
  border-radius: 5px;
  color: black;
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
}

.podium-number {
  font-weight: bold;
}

.player-position {
  display: flex;
  margin-left: 50px;
}

.player-position div {
  margin-left: 30px;
}

.player-score {
  margin-right: 50px;
}

.home-btn {
  margin-top: 30px;
}
