@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arimo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--main-green);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--main-purple);
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
