* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}


.App {
  background: linear-gradient(180deg, #1be8c3, #08d0cb, #00dbd2 2.1%, #00ffc2 100%);
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

.logo {
  height: 210px;
  width: 610px;
}

.login-form {
  align-items: center;
  background-color: #9fffe8;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #fffbfb;
  display: flex;
  flex-direction: column;
  height: 492px;
  padding-top: 22px;
  width: 439px;
}

.photo-container {
  background-color: red;
  border-radius: 50%;
  height: 148px;
  margin-bottom: 32px;
  width: 148px;
}

label {
  width: 307px;
}

input {
  border-radius: 5px;
  height: 50px;
  margin-bottom: 32px;
  width: 100%;
}

.play-btn:disabled {
  background-color: grey;
  color: white;
  opacity: 0.8;
}

button {
  background-color: #f0e711;
  border-radius: 5px;
  color: black;
  height: 59px;
  width: 145px;
}

button:hover {
  background-color: #b4af15;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
  width: 73%;
}
