@use '../1-Base/varibles' as var

.btn
  padding: 1rem 3rem
  border-radius: 1rem
  border: none
  font-size: 1rem
  transition: .2s

  &-login
    background: green
    color: white

    &:hover
      color: green
      background: white
      border: 2px solid green

    &:disabled
      background: gray

      &:hover
        border: none
        color: white

  &-config
    background: orange
    color: white

    &:hover
      color: orange
      background: white
      border: 2px solid orange

  &-next
    background: var.$bg-color2
    color: white
    font-size: 1.3rem

    &:hover
      transform: scale(1.3)

  &-questions
    margin: .5rem
    font-size: 1.3rem
    padding: 1rem 3rem
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), var.$bg-color
    color: white
    font-weight: 300

    &:hover
      transform: scale(1.3)

    &:disabled
      background: #484848
      color: white
